.bannerStripe{
    background-color: orange;
    height: 100px;
    color:white;
    padding:10px;
    }
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.aboutUsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.aboutUs-title{
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}
.aboutUsImgContainer{
    text-align: center;
    margin: auto;
    padding: 5px;
}
.aboutUsText{
    margin:0 auto;
    text-align: center;
}
.aboutDescription{
    font-family: 'Josefin Sans', sans-serif;
    width:40%;
    margin: 0 auto;
    padding:1px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;  
}
.btn-followUs{
    font-family: 'Josefin Sans', sans-serif;
    font-size: small;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 5px;
    padding:10px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color: #4267B2;
    color:white;
}
.btn-MeLi{
    font-family: 'Josefin Sans', sans-serif;
    font-size: small;
    text-align: center;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 2px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color: rgb(247, 247, 35);
    color:black; 
    text-decoration: none;
}

@media (max-width:800px){
    .product{
        flex-direction: column;
        align-items: center;
    }
    .aboutUsImage{
        margin: 10px; 
        width: 50%;
        height: 50%;  
    }
    .aboutUsText{
        margin-left: 10px;
        margin-right: 10px;
    }
    .aboutDescription{
        margin: 0 auto;
        font-size:medium;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:600px){
    .product{
        flex-direction: column;
        align-items: center;
    }
    .aboutUsImage{
        margin: 10px; 
        width: 80%;
        height: 60%;  
    }
    .aboutDescription{
        font-size:larger;
        flex-direction: column;
        align-items: center;
    }
    .aboutUsText{
        margin-left: 10px;
        margin-right: 10px;
    }
    
}