
.product{
    display: flex;
    width: calc (100% - 20px);
    padding:0 2px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper{
    display:flex;
    flex-direction: column;
    margin:auto;
	flex-wrap: wrap;
    
}
@media (min-width:800px){
    .wrapper{
        flex-direction: row;
        align-items: center;
    }
}
.productContainer{
    margin-bottom: 4px;
    justify-content: center;
    /* text-align: center; */
}
.imgContainer{
    text-align: center;
}

.productPhoto{
    justify-content: center;
    margin:0 auto;
    width:320px;
    height:200px;
}
.productPhoto:hover {
	transform: scale(1.1); 
}
.productName, .productPrice{
    font-family: 'Josefin Sans', sans-serif;
    font-size:medium;
    font-weight: bolder;
    text-align: left;
    margin:0 4px;
    padding: 7px;
}
.buttonGoCart{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color: #ea526f;
    color:white;
}
a.buttonGoCart{
    font-family: 'Josefin Sans', sans-serif;;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    padding:1px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color: #ea526f;
    color:white;   
}

.descriptionText{
    margin:0 auto;
    font-family: 'Josefin Sans', sans-serif;

} 

.colorStripe{
	background-color: orange;
	text-align: center;
	font-weight: bold;
	font-size: larger;
	font-family: 'Josefin Sans', sans-serif;
	padding: 0px;
}

.categoriesTitle{
	background-color: orange;
	padding: 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
}