
      *{
        font-family: 'Montserrat', sans-serif;  
    }
      /* for desktop */
      .whatsapp_float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366; 
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 40px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .whatsapp-icon {
        margin-top: 16px;
    }

    /* for mobile */
    @media screen and (max-width: 767px) {
        .whatsapp-icon {
            margin-top: 10px;
        }

        .whatsapp_float {
            width: 40px;
            height: 40px;
            bottom: 20px;
            right: 10px;
            font-size: 22px;
        }
    }


.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.containerTitle{
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
.bannerStripeContainer{
        background-color:#E67E22;
        height: 130px;
        color:white;
        padding:10px;
}
.waves-svg{
    height: 90px;
}
@media (max-width:1200px){
    .bannerStripeContainer{
        height: 130px;
    }
    .qualityIcon-Img{
        width: 50px;
        height: 50px;
    }

}
@media (max-width:400px){
    .bannerStripeContainer{
        height: 100px;
    }
    .bannerStripeContainerText{
        font-size: medium;

    }
    .qualityIcon-Img{
        width: 30px;
        height: 30px;
    }

}