.head{
    font-family: 'Lato', sans-serif;
    display: flex;
    width: calc (100% - 40px);
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bold;
  }
  .head{
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;   
}
@media (min-width:800px){
    .head{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: calc (100% - 40px);
    }
}

  .logo{
    color:gray;
  }
  .navbar{
    background-color: white;
  }
  
  a{
    text-decoration: none;
  }
  .search{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 7px;
    border-radius: 10px;
    border-style: none;
    background-color:whitesmoke;
    outline: none;
  }
    
  .links{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:black
  }
  
  .link{
    margin:0 10px;
    padding: 0 5px;
    color:black;
    list-style: none;
    text-decoration: none;
  }
  .links:hover{
    color:rebeccapurple;
  }
  a{
    color:black;
  }
  .link:hover{
      color:rebeccapurple;
  }
  .right{
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 0 5px;
  }
  .cart{
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 0 5px;
  }
  .cart-icon{
    border-radius: 100px;
    background-color: white;
    border-style: none;
    padding: 4px;
    outline:none;
   }
   .cart-icon:hover{
    background-color:whitesmoke;
   }
 
  .user{
    display: flex;
    align-items: center;
    /* background-color: whitesmoke; */
    border-radius: 100px;
    border-style: none;
    padding:5px;
    
  }
