*{
font-family: 'Montserrat', sans-serif;  
}
 
.meliLogo-NavBar{
  background-color: white;
  border-radius: 6px;
  justify-content: center;
  text-align: center;
  width: 70px;
  height:30px ;
  padding:2px;
}


@media (max-width: 991px){
  .meliLogo-NavBar{
    background-color: white;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 30px;
    padding:2px;
  }
  .meLi-Img-Nav{
    margin: auto;
    justify-content: center;
    width: 65px;
  }
}
