
.product{
    display: flex;
    width: calc (100% - 20px);
    padding:0 2px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper{
    display:flex;
    flex-direction: column;
    margin:auto;
    
}
@media (min-width:800px){
    .wrapper{
        flex-direction: row;
        align-items: center;
    }
}
.productContainer{
    margin-bottom: 4px;
}
.comboDescription{
    display: flex;
    flex-direction: column;
}

.productPhoto{
    margin:0 auto;
    width:300px;
    height:200px;
    border-radius: 10px;
}
.productName, .productPrice{
    font-family: 'Josefin Sans', sans-serif;
    font-size:medium;
    font-weight: bolder;
    text-align: left;
    margin:0 4px;
    padding: 7px;
}
.buttonGoCart{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color: #ea526f;
    color:white;
}
a.buttonGoCart{
    font-family: 'Josefin Sans', sans-serif;;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    padding:1px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color: #ea526f;
    color:white;   
}

.descriptionText{
    margin:0 auto;
    font-family: 'Josefin Sans', sans-serif;

} 
.colorText{
    padding:7px;
}
.dot-white {
    height: 10px;
    width: 10px;
    margin-right: 4px;
    background-color:white;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
  }
  .dot-black {
    height: 10px;
    width: 10px;
    margin-right: 4px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }
  .dot-lg-brown {
    height: 10px;
    width: 10px;
    margin-right: 4px;
    background-color:rgb(184, 138, 40);
    border-radius: 50%;
    display: inline-block;
  }
  .dot-dk-brown {
    height: 10px;
    width: 10px;
    margin-right: 4px;
    background-color:rgb(63, 36, 36);
    border-radius: 50%;
    display: inline-block;
  }