.ComboWrapper {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.CardCombo {
    background-color: #ffff;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(237, 237, 237, 1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(237, 237, 237, 1);
    box-shadow: 4px 4px 5px 0px rgba(237, 237, 237, 1);
}

.ProductsImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}



@media (max-width:990px) {
    .ComboWrapper {
        flex-direction: column;
    }

}

@media (max-width:600px) {
    .ProductsImg {
        flex-direction: column;
    }

    .CardCombo {
        width: 90%;
    }

}